html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
h3{
    color:  indigo;;
    font-family: 'Pacifico', cursive;
    font-size: 23px;
}
button{
    cursor: pointer;
}
body{
    background-position: center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    cursor: default;
}
.api__item{
    padding-bottom: 20px;
    
}
.api__item-title{
    font-size: 18px;
}