html{
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
h3{
    font-size: 23px;
}
li{
    list-style: none;
}
button{
    cursor: pointer;
}
body{
    background-position: center;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    cursor: default;
}
.swapi__content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 20px;
}
.main__btn.hidden{
    display: none;
}
.api__item{
    padding-bottom: 20px;
    width:400px;
    height:100%;
    margin: 0 auto;
    
}
.api__item-title{
    font-size: 18px;
}

.main__btn {
    background-color: #d5b5ff;
    color: #fff;
    border: 3px solid #bc66ff;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    cursor: pointer;
    transition: 0.1s linear;
    margin-bottom: 20px;
}
.main__btn:hover {
    background-color: #fff;
    transform: scale(1.1);
    color: #bc66ff;
}
